@model IEnumerable<Grupp2MVC.Models.Vehicle>

@{
    ViewData["Title"] = "Garage details";
}

<h1>Garage details</h1>

<p>
    <a asp-action="Create">Park a new vehicle</a>
</p>

¨<form asp-action="Filter" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="RegistrationNumber" />
        <div class="input-group-append">
            <select class="form-control" name="VehicleType" asp-items="@Html.GetEnumSelectList<VehicleType>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsParked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                    @if (item.IsParked)
                    {
                        <text>Parking</text>
                    }
                    else
                    {
                        <text>Checked out</text>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfArrival)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Check out</a>
            </td>
        </tr>
}
    </tbody>
</table>
