@model ReceiptViewModel

@{
    var date = DateTime.Now.ToString("yyyy/MM/dd");
}

<h1>Parking Receipt</h1>

<div>
    <h4>Parking Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Date:
        </dt>
        <dd class="col-sm-10">
            @date
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfDeparture)
        </dd>
    </dl>
    <h4>Vehicle Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
    </dl>
    <h4>Billing information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <h5>@Html.DisplayNameFor(model => model.Price)</h5>
        </dt>
        <dd class="col-sm-10">
            <h5>@Html.DisplayFor(model => model.Price)</h5>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>